.single-movie-container {
  width: 100%;
  position: absolute;
  /* border: 1px solid pink; */
}

.modal-window {
  /* border: 1px solid orange; */
  width: 60%;
  margin: auto;
}

.modal-window > img {
  width: 100%;
}

/* .title-and-rating,
.movie-details {
  padding: 0% 2%;
} */

.title-and-rating,
.year-and-genres {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title-and-rating > *,
.year-and-genres > *,
.modal-window > p {
  margin: 10px 0px;
}

.green-text {
  color: #72AC39;
}

.back-button {
  background-color: #2590F9;
  font-weight: bold;
  color: #fff;
  height: 40px;
  width: 200px;
  border: 0;
  position: absolute;
  top: 10px;
  left: 20px;
}

.back-button:hover {
  cursor: pointer;
}

.movie-description {
  margin: 20px 0px;
}