.single-movie-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-window {
  width: 60%;
  margin: auto;
}

.modal-window > img {
  width: 100%;
}

.movie-details {
  display: flex;
  flex-direction: row;
}

.year-and-genres {
  width: 1100px;
  margin: 10px 0px;
  font-size: 1.1em;
}

.title-and-rating {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title-and-rating > *,
.year-and-genres > *,
.modal-window > p {
  margin: 10px 0px;
}

.green-text {
  color: #72ac39;
}

.back-button {
  background-image: linear-gradient(to bottom right, #2590f9, #165dea);
  font-weight: bold;
  color: #fff;
  height: 40px;
  width: 200px;
  border: 0;
  position: absolute;
  top: 10px;
  left: 20px;
  border-radius: 15px;
  font-size: 16px;
}

.back-button:hover {
  cursor: pointer;
}

.movie-description {
  margin: 20px 0px 0px 30px;
}